.menu {
  :global {
    .ant-menu-title-content {
      color: var(--chat-text) !important;
    }
    .ant-menu-item-selected {
      background-color: var(--Ai-think-bg) !important;
    }
    .ant-menu-item-active {
      background-color: var(--Ai-think-bg) !important;
    }
    .ant-menu-item-group-title {
      color: var(--Ai-think-text) !important;
    }
  }
  border: none !important;
}
